{% extends "base.html.twig" %}

{% block content %}
	<div class="container hidden lg:block">
		<div class="flex items-center justify-between py-2">
			<a href="#" class="inline-flex space-x-1 text-xs ">
				<span>
					<svg class="w-4 h-4 text-primary" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
					</svg>
				</span>
				<span>
					Gratis Ebook 9 Cara Cerdas menggunakan Domain [x]
				</span>
			</a>
			<div class="space-x-4 text-xs">
				<a href="#" class="inline-flex items-center space-x-2">
					<span>
						<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
						</svg>
					</span>
					<span>0274-5305505</span>
				</a>
				<a href="#" class="inline-flex items-center space-x-2">
					<span>
						<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z"></path>
							<path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z"></path>
						</svg>
					</span>
					<span>Live Chat</span>
				</a>
				<a href="#" class="inline-flex items-center space-x-2">
					<span>
						<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path>
						</svg>
					</span>
					<span>Member Area</span>
				</a>
			</div>
		</div>
	</div>

	<div class="border-t border-b border-gray-200">
		<div class="container" x-data="{ open: false }">
			<div
				class="flex items-center justify-between py-5">
				{# Niaga Hoster Logo #}
				<img src="{{ asset('build/images/niagahoster.png') }}" class="w-48 lg:w-64" alt="Niaga hoster">

				<div class="hidden lg:space-x-6 lg:inline-flex">
					<a href="" class="text-sm">Hosting</a>
					<a href="" class="text-sm">Domain</a>
					<a href="" class="text-sm">Server</a>
					<a href="" class="text-sm">Website</a>
					<a href="" class="text-sm">Afiliasi</a>
					<a href="" class="text-sm">Promo</a>
					<a href="" class="text-sm">Pembayaran</a>
					<a href="" class="text-sm">Review</a>
					<a href="" class="text-sm">Kontak</a>
					<a href="" class="text-sm">Blog</a>
				</div>

				<button @click="open = !open" class="p-1 transition duration-100 ease-in-out rounded lg:hidden hover:bg-gray-50 focus:outline-none focus:bg-gray-50" type="button">
					<span class="sr-only">Toggle Navigation Menu</span>
					<svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
					</svg>
				</button>
			</div>

			{# Mobile Nav Menu #}
			{% include "mobile-nav.html.twig" %}

		</div>
	</div>

	<section class="container my-10">
		<div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
			<div class="space-y-2 lg:space-y-4">
				<h1 class="text-2xl font-bold text-gray-900 lg:text-4xl font-display">PHP Hosting</h1>
				<h4 class="text-2xl text-gray-700 lg:text-4xl">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</h4>
				<ul class="flex flex-col space-y-2">
					<ul class="inline-flex space-x-1">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="text-gray-700">Solusi PHP untuk performa query yang lebih cepat.</span>
					</ul>
					<ul class="inline-flex space-x-1">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="text-gray-700">Konsumsi memori yang lebih rendah.</span>
					</ul>
					<ul class="inline-flex space-x-1">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="text-gray-700">Support PHP 5.3, PHP 5.4, PHP 5.6, PHP 7</span>
					</ul>
					<ul class="inline-flex space-x-1">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="text-gray-700">Fitur enkripsi IonCube dan Zend Guard Loaders</span>
					</ul>
				</ul>
			</div>
			<div class="flex items-center justify-center">
				<img src="{{ asset('build/svg/illustration banner PHP hosting-01.svg')}}" class="max-h-72" alt="PHP Hosting">
			</div>
		</div>
	</section>

	<hr>

	<section class="container my-16">
		<div class="grid grid-cols-1 gap-4 lg:gap-0 md:grid-cols-2 lg:grid-cols-3">
			<div class="flex flex-col items-center">
				<div class="flex items-center h-48 ">
					<img src="{{ asset('build/svg/illustration-banner-PHP-zenguard01.svg') }}" alt="Zendguard">
				</div>
				<div class="text-center">PHP Zend Guard Loader</div>
			</div>
			<div class="flex flex-col items-center">
				<div class="flex items-center h-48">
					<img src="{{ asset('build/svg/icon-composer.svg') }}" alt="Composer">
				</div>
				<div class="text-center">PHP Zend Guard Loader</div>
			</div>
			<div class="flex flex-col items-center">
				<div class="flex items-center h-48">
					<img src="{{ asset('build/svg/icon-php-hosting-ioncube.svg') }}" alt="onCube">
				</div>
				<div class="text-center">PHP ionCube Loader</div>
			</div>
		</div>
	</section>

	<section class="container my-12">
		<div class="space-y-1">
			<h2 class="text-2xl font-bold text-center text-gray-700">Paket Hosting Singapura yang Tepat</h2>
			<h4 class="text-xl text-center text-gray-700">Diskon 40% + Domain dan SSL Gratis untuk Anda</h4>
		</div>
	</section>

	<section class="container my-12">
		<div class="mb-5">
			<h2 class="text-2xl text-center text-gray-700">Powerful dengan Limit PHP yang Lebih Besar</h2>
		</div>
		<div class="max-w-2xl mx-auto">
			<div class="grid grid-cols-2 gap-6">
				<div class="flex flex-col border border-gray-200 rounded-sm">
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">max execution time 300s</span>
					</div>
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">max execution time 300s</span>
					</div>
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">php memory limi 1024 MB</span>
					</div>
				</div>
				<div class="flex flex-col border border-gray-200 rounded-sm odd:bg-gray-100">
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">post max size 128 MB</span>
					</div>
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">upload max filesize 128 MB</span>
					</div>
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">max input vars 2500</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="w-20 h-1 mx-auto bg-gray-200"></div>

	<section class="container my-12">
		<div class="mb-5">
			<h2 class="text-2xl text-center text-gray-700">Powerful dengan Limit PHP yang Lebih Besar</h2>
		</div>
		<div class="grid grid-cols-1 gap-6 gap-y-12 lg:grid-cols-3">
			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg id="Layer_1" class="h-20" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-2 {
									fill: #298eea
								}
								.cls-5 {
									fill: #c9c9c9
								}
							</style>
						</defs><path d="M6.216 11.813h47.036a.216.216 0 01.216.216V47.1a.217.217 0 01-.217.217H6.216A.216.216 0 016 47.1V12.03a.216.216 0 01.216-.216z" fill="#d4e8fb"/><path class="cls-2" d="M52.469 12.814v33.507H7V12.814h45.469m.784-2H6.216A1.22 1.22 0 005 12.03V47.1a1.22 1.22 0 001.216 1.216h47.036a1.22 1.22 0 001.217-1.216V12.03a1.22 1.22 0 00-1.216-1.216z"/><rect x="10.531" y="16.679" width="47.469" height="35.507" rx=".217" ry=".217" fill="#fff"/><path class="cls-2" d="M57 17.679v33.507H11.531V17.679H57m.784-2H10.748A1.22 1.22 0 009.531 16.9v35.07a1.22 1.22 0 001.216 1.216h47.037A1.22 1.22 0 0059 51.97V16.9a1.22 1.22 0 00-1.216-1.216z"/><path fill="none" stroke="#298eea" stroke-miterlimit="10" d="M10 24.5h49"/><circle class="cls-5" cx="53.987" cy="20.596" r="1.368"/><circle class="cls-5" cx="48.513" cy="20.596" r="1.368"/><circle class="cls-5" cx="43.039" cy="20.596" r="1.368"/><path class="cls-2" d="M27.1 44.354a.608.608 0 01-.482-.238l-4.988-6.482 5.27-6.841a.608.608 0 01.965.741l-4.695 6.1 4.419 5.741a.608.608 0 01-.482.979zM40.761 44.354a.608.608 0 00.482-.238l4.989-6.483-5.265-6.841a.608.608 0 10-.965.741l4.695 6.1-4.419 5.741a.608.608 0 00.482.979zM30.748 45.33a.6.6 0 01-.246-.052.607.607 0 01-.31-.8l6.488-14.65a.608.608 0 011.112.492L31.3 44.967a.609.609 0 01-.552.363z"/></svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">PHP Semua Versi</div>
				<div class="text-center text-gray-700">
					Pilih mulai dari versi PHP 5.3 s/d PHP. Ubah sesuka Anda!
				</div>
			</div>

			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg class="h-20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-1,
								.cls-2 {
									fill: #fff;
									stroke: #298eea;
									stroke-miterlimit: 10;
									stroke-width: 2px
								}
								.cls-2 {
									fill: none;
									stroke-linecap: round
								}
								.cls-3 {
									fill: #c9c9c9
								}
							</style>
						</defs>
						<g id="MySQL"><path class="cls-1" d="M51.25 41.13v10c0 1.791-8.451 3.242-18.875 3.242S13.5 52.921 13.5 51.13v-9.956"/><path class="cls-1" d="M51.25 31.5v10c0 1.791-8.451 3.242-18.875 3.242S13.5 43.291 13.5 41.5v-9.956"/><path class="cls-1" d="M51.25 21.452v10c0 1.791-8.451 3.242-18.875 3.242S13.5 33.243 13.5 31.452V21.5"/><path class="cls-1" d="M51.25 11.45v10c0 1.791-8.451 3.242-18.875 3.242S13.5 23.241 13.5 21.45v-9.956"/><ellipse class="cls-1" cx="32.375" cy="11.45" rx="18.875" ry="3.242"/><path class="cls-2" d="M51.25 16.869c0 1.791-8.451 3.242-18.875 3.242"/><circle class="cls-3" cx="17.219" cy="18.51" r="1"/><path class="cls-2" d="M51.25 26.452c0 1.791-8.451 3.242-18.875 3.242"/><circle class="cls-3" cx="17.219" cy="28.094" r="1"/><path class="cls-2" d="M51.25 36.035c0 1.791-8.451 3.242-18.875 3.242"/><circle class="cls-3" cx="17.219" cy="37.677" r="1"/><path class="cls-2" d="M51.25 45.619c0 1.791-8.451 3.242-18.875 3.242"/><circle class="cls-3" cx="17.219" cy="47.26" r="1"/></g>
					</svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">MySQL Versi 5.6</div>
				<div class="text-center text-gray-700">
					Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.
				</div>
			</div>

			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg class="h-20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-3 {
									fill: none;
									stroke: #298eea;
									stroke-miterlimit: 10
								}
								.cls-4 {
									fill: #d4e8fb
								}
							</style>
						</defs>
						<g id="cpanel"><rect x="5" y="11.771" width="54" height="40.459" rx=".377" ry=".377" fill="#fff"/><path d="M58 12.77v38.46H6V12.77h52m.623-2H5.377A1.381 1.381 0 004 12.148v39.7a1.381 1.381 0 001.377 1.382h53.246A1.381 1.381 0 0060 51.852v-39.7a1.381 1.381 0 00-1.377-1.377z" fill="#298eea"/><path class="cls-3" d="M5 20.5h54M17.5 21v32"/><path class="cls-4" d="M7.996 23.91h6.885v1.377H7.996zM7.996 27.69h6.885v1.377H7.996zM7.996 31.469h6.885v1.377H7.996zM7.996 35.249h6.885v1.377H7.996zM7.996 39.029h6.885v1.377H7.996zM7.996 42.808h6.885v1.377H7.996zM7.996 46.588h6.885v1.377H7.996zM36.228 31.808l-.739 2.526-.053.182a1.288 1.288 0 01-1.145.835H32.1a1.992 1.992 0 000 3.984h1.371a.589.589 0 01.487.58.6.6 0 01-.018.147l-.747 2.816h-1.1a5.535 5.535 0 010-11.071zM48.225 33.759a5.532 5.532 0 01-5.525 5.536h-3.489l.739-2.526.05-.183a1.288 1.288 0 011.145-.835h1.545a1.992 1.992 0 000-3.984h-2.139L37.874 41.9l-.041.155a1.232 1.232 0 01-.954.82 1.179 1.179 0 01-.213.019h-2.681l3.487-13.6.05-.193a1.3 1.3 0 011.229-.878H42.7a5.532 5.532 0 015.525 5.536z"/></g>
					</svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">Panel Hosting cPanel</div>
				<div class="text-center text-gray-700">
					Kelola website dengan panel canggih yang familiar di hati Anda.
				</div>
			</div>

			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg class="h-20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-6 {
									stroke: #288eea;
									stroke-miterlimit: 10
								}
								.cls-2 {
									fill: #d4e8fb
								}
								.cls-4 {
									fill: #272525
								}
								.cls-6 {
									fill: #fff;
									stroke-width: 0.75px
								}
							</style>
						</defs>
						<g id="Layer_6" data-name="Layer 6"><path d="M32 6.7L9.923 14.537s.339 14.9 4.067 24.8C19.07 52.832 32 57.3 32 57.3s12.93-4.47 18.011-17.964c3.729-9.9 4.067-24.8 4.067-24.8z" stroke-width="2" stroke-miterlimit="10" stroke="#288eea" fill="none"/><path class="cls-2" d="M31.608 9.9v22.377H15.155A88.836 88.836 0 0113.2 16.44z"/><path fill="#288eea" d="M33.158 33.277h.158v.158h-.158z"/><path class="cls-2" d="M48.573 33.434a38.3 38.3 0 01-1.4 4.686c-3.932 10.448-13.514 14.407-14.857 14.918v-19.6z"/><path class="cls-4" d="M33.158 33.277h.158v.158h-.158z"/><path class="cls-4" d="M33.158 33.277h.158v.158h-.158z"/><circle cx="32" cy="31.257" r="14.125" stroke-linecap="round" stroke="#298eea" fill="#d4e8fb" stroke-miterlimit="10"/><path class="cls-6" d="M32 20.51a10.747 10.747 0 11-10.747 10.747M21.253 31.257A10.747 10.747 0 0132 20.51"/><path stroke="#298eea" fill="#d4e8fb" stroke-width="2" stroke-miterlimit="10" d="M32 28.907v12.926"/><path stroke-linejoin="round" stroke-linecap="round" stroke="#298eea" stroke-width="2" fill="none" d="M26.878 33.065l5.171-5.172 5.073 5.073"/></g>
					</svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">Garansi Uptime 99.9%</div>
				<div class="text-center text-gray-700">
					Datacenter yang mendukung kelangsungan website Anda 24/7.
				</div>
			</div>

			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg class="h-20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-1 {
									fill: #fff;
									stroke: #298eea;
									stroke-miterlimit: 10;
									stroke-width: 2px
								}
								.cls-3 {
									fill: #298eea
								}
							</style>
						</defs>
						<g id="innoDB"><path class="cls-1" d="M50.875 41.84v10c0 1.791-8.451 3.242-18.875 3.242s-18.875-1.451-18.875-3.242v-9.956"/><path class="cls-1" d="M50.875 32.21v10c0 1.791-8.451 3.242-18.875 3.242S13.125 44 13.125 42.21v-9.956"/><path class="cls-1" d="M50.875 22.162v10c0 1.791-8.451 3.242-18.875 3.242s-18.875-1.452-18.875-3.242v-9.956"/><path class="cls-1" d="M50.875 12.16v10c0 1.79-8.451 3.24-18.875 3.24s-18.875-1.45-18.875-3.24V12.2"/><ellipse class="cls-1" cx="32" cy="12.16" rx="18.875" ry="3.242"/><path d="M32 60.968A13.968 13.968 0 1145.968 47 13.983 13.983 0 0132 60.968z" fill="#d4e8fb"/><path class="cls-3" d="M32 34.032A12.968 12.968 0 1119.032 47 12.983 12.983 0 0132 34.032m0-2A14.968 14.968 0 1046.968 47 14.968 14.968 0 0032 32.032z"/><path class="cls-3" d="M36.963 41.351c-3.173 0-5.776 3.649-5.9 5.649-.15 3-1.9 3.764-4.031 3.764a4.039 4.039 0 113.443-6.136 6.615 6.615 0 01.933-1.847 5.851 5.851 0 00-4.376-1.959 5.916 5.916 0 000 11.832A6 6 0 0032.934 47a4.128 4.128 0 014.031-3.758 4.041 4.041 0 11-3.443 6.141 6.617 6.617 0 01-.933 1.847 5.851 5.851 0 004.376 1.959 5.919 5.919 0 000-11.838z"/></g>
					</svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">Database InnoDB Unlimited</div>
				<div class="text-center text-gray-700">
					Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda.
				</div>
			</div>

			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg class="h-20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-1 {
									fill: #fff
								}
								.cls-1,
								.cls-4 {
									stroke: #298eea;
									stroke-miterlimit: 10;
									stroke-width: 2px
								}
								.cls-3 {
									fill: #298eea
								}
								.cls-4 {
									fill: none;
									stroke-linecap: round
								}
							</style>
						</defs>
						<g id="remote"><path class="cls-1" d="M50.875 39.84v10c0 1.791-8.451 3.242-18.875 3.242s-18.875-1.451-18.875-3.242v-9.956"/><path class="cls-1" d="M50.875 30.21v10c0 1.791-8.451 3.242-18.875 3.242S13.125 42 13.125 40.21v-9.956"/><path class="cls-1" d="M50.875 20.162v10c0 1.791-8.451 3.242-18.875 3.242s-18.875-1.452-18.875-3.242v-9.956"/><path class="cls-1" d="M50.875 10.16v10c0 1.79-8.451 3.24-18.875 3.24s-18.875-1.45-18.875-3.24V10.2"/><ellipse class="cls-1" cx="32" cy="10.16" rx="18.875" ry="3.242"/><path d="M32 58.968A13.968 13.968 0 1145.968 45 13.983 13.983 0 0132 58.968z" fill="#d4e8fb"/><path class="cls-3" d="M32 32.032A12.968 12.968 0 1119.032 45 12.983 12.983 0 0132 32.032m0-2A14.968 14.968 0 1046.968 45 14.968 14.968 0 0032 30.032z"/><path class="cls-4" d="M32 35.125A9.875 9.875 0 0141.875 45M32 39.84A5.16 5.16 0 0137.16 45M31 45v1.542A4.458 4.458 0 0035.458 51H36v7"/><circle class="cls-3" cx="31" cy="44.956" r="2.016"/></g>
					</svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">Wildcard Remote MySQL</div>
				<div class="text-center text-gray-700">
					Mendukung s/d 25 max_user_connections dan 100 max_connections
				</div>
			</div>
		</div>
	</section>

	<div class="w-20 h-1 mx-auto bg-gray-200"></div>

{% endblock %}
