{% extends "base.html.twig" %}

{% block content %}
	<div class="container hidden lg:block">
		<div class="flex items-center justify-between py-2">
			<a href="#" class="inline-flex space-x-1 text-xs ">
				<span>
					<svg class="w-4 h-4 text-primary" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
					</svg>
				</span>
				<span>
					Gratis Ebook 9 Cara Cerdas menggunakan Domain [x]
				</span>
			</a>
			<div class="space-x-4 text-xs">
				<a href="#" class="inline-flex items-center space-x-2">
					<span>
						<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
						</svg>
					</span>
					<span>0274-5305505</span>
				</a>
				<a href="#" class="inline-flex items-center space-x-2">
					<span>
						<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z"></path>
							<path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z"></path>
						</svg>
					</span>
					<span>Live Chat</span>
				</a>
				<a href="#" class="inline-flex items-center space-x-2">
					<span>
						<svg class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path>
						</svg>
					</span>
					<span>Member Area</span>
				</a>
			</div>
		</div>
	</div>

	<div class="border-t border-b border-gray-200">
		<div class="container" x-data="{ open: false }">
			<div
				class="flex items-center justify-between py-5">
				{# Niaga Hoster Logo #}
				<img src="{{ asset('build/images/niagahoster.png') }}" class="w-48 lg:w-64" alt="Niaga hoster">

				<div class="hidden lg:space-x-6 lg:inline-flex">
					<a href="" class="text-sm">Hosting</a>
					<a href="" class="text-sm">Domain</a>
					<a href="" class="text-sm">Server</a>
					<a href="" class="text-sm">Website</a>
					<a href="" class="text-sm">Afiliasi</a>
					<a href="" class="text-sm">Promo</a>
					<a href="" class="text-sm">Pembayaran</a>
					<a href="" class="text-sm">Review</a>
					<a href="" class="text-sm">Kontak</a>
					<a href="" class="text-sm">Blog</a>
				</div>

				<button @click="open = !open" class="p-1 transition duration-100 ease-in-out rounded lg:hidden hover:bg-gray-50 focus:outline-none focus:bg-gray-50" type="button">
					<span class="sr-only">Toggle Navigation Menu</span>
					<svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
					</svg>
				</button>
			</div>

			{# Mobile Nav Menu #}
			{% include "mobile-nav.html.twig" %}

		</div>
	</div>

	<section class="container my-10">
		<div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
			<div class="space-y-2 lg:space-y-4">
				<h1 class="text-2xl font-bold text-gray-900 lg:text-4xl font-display">PHP Hosting</h1>
				<h4 class="text-2xl text-gray-700 lg:text-4xl">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</h4>
				<ul class="flex flex-col space-y-2">
					<ul class="inline-flex space-x-1">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="text-gray-700">Solusi PHP untuk performa query yang lebih cepat.</span>
					</ul>
					<ul class="inline-flex space-x-1">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="text-gray-700">Konsumsi memori yang lebih rendah.</span>
					</ul>
					<ul class="inline-flex space-x-1">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="text-gray-700">Support PHP 5.3, PHP 5.4, PHP 5.6, PHP 7</span>
					</ul>
					<ul class="inline-flex space-x-1">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="text-gray-700">Fitur enkripsi IonCube dan Zend Guard Loaders</span>
					</ul>
				</ul>
			</div>
			<div class="flex items-center justify-center">
				<img src="{{ asset('build/svg/illustration banner PHP hosting-01.svg')}}" class="max-h-72" alt="PHP Hosting">
			</div>
		</div>
	</section>

	<hr>

	<section class="container my-16">
		<div class="grid grid-cols-1 gap-4 lg:gap-0 md:grid-cols-2 lg:grid-cols-3">
			<div class="flex flex-col items-center">
				<div class="flex items-center h-48 ">
					<img src="{{ asset('build/svg/illustration-banner-PHP-zenguard01.svg') }}" alt="Zendguard">
				</div>
				<div class="text-center">PHP Zend Guard Loader</div>
			</div>
			<div class="flex flex-col items-center">
				<div class="flex items-center h-48">
					<img src="{{ asset('build/svg/icon-composer.svg') }}" alt="Composer">
				</div>
				<div class="text-center">PHP Zend Guard Loader</div>
			</div>
			<div class="flex flex-col items-center">
				<div class="flex items-center h-48">
					<img src="{{ asset('build/svg/icon-php-hosting-ioncube.svg') }}" alt="onCube">
				</div>
				<div class="text-center">PHP ionCube Loader</div>
			</div>
		</div>
	</section>

	<section class="container my-12">
		<div class="space-y-1">
			<h2 class="text-2xl font-bold text-center text-gray-700">Paket Hosting Singapura yang Tepat</h2>
			<h4 class="text-xl text-center text-gray-700">Diskon 40% + Domain dan SSL Gratis untuk Anda</h4>
		</div>
	</section>

	<section class="container my-12">
		<div class="mb-5">
			<h2 class="text-2xl text-center text-gray-700">Powerful dengan Limit PHP yang Lebih Besar</h2>
		</div>
		<div class="max-w-2xl mx-auto">
			<div class="grid grid-cols-2 gap-6">
				<div class="flex flex-col border border-gray-200 rounded-sm">
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">max execution time 300s</span>
					</div>
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">max execution time 300s</span>
					</div>
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">php memory limi 1024 MB</span>
					</div>
				</div>
				<div class="flex flex-col border border-gray-200 rounded-sm odd:bg-gray-100">
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">post max size 128 MB</span>
					</div>
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">upload max filesize 128 MB</span>
					</div>
					<div class="inline-flex p-1 space-x-1 even:bg-gray-100">
						<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
						</svg>
						<span class="flex-grow text-sm text-center text-gray-700">max input vars 2500</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="w-20 h-1 mx-auto bg-gray-200"></div>

	<section class="container my-12">
		<div class="mb-5">
			<h2 class="text-2xl text-center text-gray-700">Powerful dengan Limit PHP yang Lebih Besar</h2>
		</div>
		<div class="grid grid-cols-1 gap-6 gap-y-12 lg:grid-cols-3">
			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg id="Layer_1" class="h-20" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-2 {
									fill: #298eea
								}
								.cls-5 {
									fill: #c9c9c9
								}
							</style>
						</defs><path d="M6.216 11.813h47.036a.216.216 0 01.216.216V47.1a.217.217 0 01-.217.217H6.216A.216.216 0 016 47.1V12.03a.216.216 0 01.216-.216z" fill="#d4e8fb"/><path class="cls-2" d="M52.469 12.814v33.507H7V12.814h45.469m.784-2H6.216A1.22 1.22 0 005 12.03V47.1a1.22 1.22 0 001.216 1.216h47.036a1.22 1.22 0 001.217-1.216V12.03a1.22 1.22 0 00-1.216-1.216z"/><rect x="10.531" y="16.679" width="47.469" height="35.507" rx=".217" ry=".217" fill="#fff"/><path class="cls-2" d="M57 17.679v33.507H11.531V17.679H57m.784-2H10.748A1.22 1.22 0 009.531 16.9v35.07a1.22 1.22 0 001.216 1.216h47.037A1.22 1.22 0 0059 51.97V16.9a1.22 1.22 0 00-1.216-1.216z"/><path fill="none" stroke="#298eea" stroke-miterlimit="10" d="M10 24.5h49"/><circle class="cls-5" cx="53.987" cy="20.596" r="1.368"/><circle class="cls-5" cx="48.513" cy="20.596" r="1.368"/><circle class="cls-5" cx="43.039" cy="20.596" r="1.368"/><path class="cls-2" d="M27.1 44.354a.608.608 0 01-.482-.238l-4.988-6.482 5.27-6.841a.608.608 0 01.965.741l-4.695 6.1 4.419 5.741a.608.608 0 01-.482.979zM40.761 44.354a.608.608 0 00.482-.238l4.989-6.483-5.265-6.841a.608.608 0 10-.965.741l4.695 6.1-4.419 5.741a.608.608 0 00.482.979zM30.748 45.33a.6.6 0 01-.246-.052.607.607 0 01-.31-.8l6.488-14.65a.608.608 0 011.112.492L31.3 44.967a.609.609 0 01-.552.363z"/></svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">PHP Semua Versi</div>
				<div class="text-center text-gray-700">
					Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!
				</div>
			</div>

			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg class="h-20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-1,
								.cls-2 {
									fill: #fff;
									stroke: #298eea;
									stroke-miterlimit: 10;
									stroke-width: 2px
								}
								.cls-2 {
									fill: none;
									stroke-linecap: round
								}
								.cls-3 {
									fill: #c9c9c9
								}
							</style>
						</defs>
						<g id="MySQL"><path class="cls-1" d="M51.25 41.13v10c0 1.791-8.451 3.242-18.875 3.242S13.5 52.921 13.5 51.13v-9.956"/><path class="cls-1" d="M51.25 31.5v10c0 1.791-8.451 3.242-18.875 3.242S13.5 43.291 13.5 41.5v-9.956"/><path class="cls-1" d="M51.25 21.452v10c0 1.791-8.451 3.242-18.875 3.242S13.5 33.243 13.5 31.452V21.5"/><path class="cls-1" d="M51.25 11.45v10c0 1.791-8.451 3.242-18.875 3.242S13.5 23.241 13.5 21.45v-9.956"/><ellipse class="cls-1" cx="32.375" cy="11.45" rx="18.875" ry="3.242"/><path class="cls-2" d="M51.25 16.869c0 1.791-8.451 3.242-18.875 3.242"/><circle class="cls-3" cx="17.219" cy="18.51" r="1"/><path class="cls-2" d="M51.25 26.452c0 1.791-8.451 3.242-18.875 3.242"/><circle class="cls-3" cx="17.219" cy="28.094" r="1"/><path class="cls-2" d="M51.25 36.035c0 1.791-8.451 3.242-18.875 3.242"/><circle class="cls-3" cx="17.219" cy="37.677" r="1"/><path class="cls-2" d="M51.25 45.619c0 1.791-8.451 3.242-18.875 3.242"/><circle class="cls-3" cx="17.219" cy="47.26" r="1"/></g>
					</svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">MySQL Versi 5.6</div>
				<div class="text-center text-gray-700">
					Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.
				</div>
			</div>

			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg class="h-20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-3 {
									fill: none;
									stroke: #298eea;
									stroke-miterlimit: 10
								}
								.cls-4 {
									fill: #d4e8fb
								}
							</style>
						</defs>
						<g id="cpanel"><rect x="5" y="11.771" width="54" height="40.459" rx=".377" ry=".377" fill="#fff"/><path d="M58 12.77v38.46H6V12.77h52m.623-2H5.377A1.381 1.381 0 004 12.148v39.7a1.381 1.381 0 001.377 1.382h53.246A1.381 1.381 0 0060 51.852v-39.7a1.381 1.381 0 00-1.377-1.377z" fill="#298eea"/><path class="cls-3" d="M5 20.5h54M17.5 21v32"/><path class="cls-4" d="M7.996 23.91h6.885v1.377H7.996zM7.996 27.69h6.885v1.377H7.996zM7.996 31.469h6.885v1.377H7.996zM7.996 35.249h6.885v1.377H7.996zM7.996 39.029h6.885v1.377H7.996zM7.996 42.808h6.885v1.377H7.996zM7.996 46.588h6.885v1.377H7.996zM36.228 31.808l-.739 2.526-.053.182a1.288 1.288 0 01-1.145.835H32.1a1.992 1.992 0 000 3.984h1.371a.589.589 0 01.487.58.6.6 0 01-.018.147l-.747 2.816h-1.1a5.535 5.535 0 010-11.071zM48.225 33.759a5.532 5.532 0 01-5.525 5.536h-3.489l.739-2.526.05-.183a1.288 1.288 0 011.145-.835h1.545a1.992 1.992 0 000-3.984h-2.139L37.874 41.9l-.041.155a1.232 1.232 0 01-.954.82 1.179 1.179 0 01-.213.019h-2.681l3.487-13.6.05-.193a1.3 1.3 0 011.229-.878H42.7a5.532 5.532 0 015.525 5.536z"/></g>
					</svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">Panel Hosting cPanel</div>
				<div class="text-center text-gray-700">
					Kelola website dengan panel canggih yang familiar di hati Anda.
				</div>
			</div>

			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg class="h-20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-6 {
									stroke: #288eea;
									stroke-miterlimit: 10
								}
								.cls-2 {
									fill: #d4e8fb
								}
								.cls-4 {
									fill: #272525
								}
								.cls-6 {
									fill: #fff;
									stroke-width: 0.75px
								}
							</style>
						</defs>
						<g id="Layer_6" data-name="Layer 6"><path d="M32 6.7L9.923 14.537s.339 14.9 4.067 24.8C19.07 52.832 32 57.3 32 57.3s12.93-4.47 18.011-17.964c3.729-9.9 4.067-24.8 4.067-24.8z" stroke-width="2" stroke-miterlimit="10" stroke="#288eea" fill="none"/><path class="cls-2" d="M31.608 9.9v22.377H15.155A88.836 88.836 0 0113.2 16.44z"/><path fill="#288eea" d="M33.158 33.277h.158v.158h-.158z"/><path class="cls-2" d="M48.573 33.434a38.3 38.3 0 01-1.4 4.686c-3.932 10.448-13.514 14.407-14.857 14.918v-19.6z"/><path class="cls-4" d="M33.158 33.277h.158v.158h-.158z"/><path class="cls-4" d="M33.158 33.277h.158v.158h-.158z"/><circle cx="32" cy="31.257" r="14.125" stroke-linecap="round" stroke="#298eea" fill="#d4e8fb" stroke-miterlimit="10"/><path class="cls-6" d="M32 20.51a10.747 10.747 0 11-10.747 10.747M21.253 31.257A10.747 10.747 0 0132 20.51"/><path stroke="#298eea" fill="#d4e8fb" stroke-width="2" stroke-miterlimit="10" d="M32 28.907v12.926"/><path stroke-linejoin="round" stroke-linecap="round" stroke="#298eea" stroke-width="2" fill="none" d="M26.878 33.065l5.171-5.172 5.073 5.073"/></g>
					</svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">Garansi Uptime 99.9%</div>
				<div class="text-center text-gray-700">
					Datacenter yang mendukung kelangsungan website Anda 24/7.
				</div>
			</div>

			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg class="h-20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-1 {
									fill: #fff;
									stroke: #298eea;
									stroke-miterlimit: 10;
									stroke-width: 2px
								}
								.cls-3 {
									fill: #298eea
								}
							</style>
						</defs>
						<g id="innoDB"><path class="cls-1" d="M50.875 41.84v10c0 1.791-8.451 3.242-18.875 3.242s-18.875-1.451-18.875-3.242v-9.956"/><path class="cls-1" d="M50.875 32.21v10c0 1.791-8.451 3.242-18.875 3.242S13.125 44 13.125 42.21v-9.956"/><path class="cls-1" d="M50.875 22.162v10c0 1.791-8.451 3.242-18.875 3.242s-18.875-1.452-18.875-3.242v-9.956"/><path class="cls-1" d="M50.875 12.16v10c0 1.79-8.451 3.24-18.875 3.24s-18.875-1.45-18.875-3.24V12.2"/><ellipse class="cls-1" cx="32" cy="12.16" rx="18.875" ry="3.242"/><path d="M32 60.968A13.968 13.968 0 1145.968 47 13.983 13.983 0 0132 60.968z" fill="#d4e8fb"/><path class="cls-3" d="M32 34.032A12.968 12.968 0 1119.032 47 12.983 12.983 0 0132 34.032m0-2A14.968 14.968 0 1046.968 47 14.968 14.968 0 0032 32.032z"/><path class="cls-3" d="M36.963 41.351c-3.173 0-5.776 3.649-5.9 5.649-.15 3-1.9 3.764-4.031 3.764a4.039 4.039 0 113.443-6.136 6.615 6.615 0 01.933-1.847 5.851 5.851 0 00-4.376-1.959 5.916 5.916 0 000 11.832A6 6 0 0032.934 47a4.128 4.128 0 014.031-3.758 4.041 4.041 0 11-3.443 6.141 6.617 6.617 0 01-.933 1.847 5.851 5.851 0 004.376 1.959 5.919 5.919 0 000-11.838z"/></g>
					</svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">Database InnoDB Unlimited</div>
				<div class="text-center text-gray-700">
					Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda.
				</div>
			</div>

			<div class="flex flex-col items-center">
				<div class="flex items-center py-3">
					<svg class="h-20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">
						<defs>
							<style>
								.cls-1 {
									fill: #fff
								}
								.cls-1,
								.cls-4 {
									stroke: #298eea;
									stroke-miterlimit: 10;
									stroke-width: 2px
								}
								.cls-3 {
									fill: #298eea
								}
								.cls-4 {
									fill: none;
									stroke-linecap: round
								}
							</style>
						</defs>
						<g id="remote"><path class="cls-1" d="M50.875 39.84v10c0 1.791-8.451 3.242-18.875 3.242s-18.875-1.451-18.875-3.242v-9.956"/><path class="cls-1" d="M50.875 30.21v10c0 1.791-8.451 3.242-18.875 3.242S13.125 42 13.125 40.21v-9.956"/><path class="cls-1" d="M50.875 20.162v10c0 1.791-8.451 3.242-18.875 3.242s-18.875-1.452-18.875-3.242v-9.956"/><path class="cls-1" d="M50.875 10.16v10c0 1.79-8.451 3.24-18.875 3.24s-18.875-1.45-18.875-3.24V10.2"/><ellipse class="cls-1" cx="32" cy="10.16" rx="18.875" ry="3.242"/><path d="M32 58.968A13.968 13.968 0 1145.968 45 13.983 13.983 0 0132 58.968z" fill="#d4e8fb"/><path class="cls-3" d="M32 32.032A12.968 12.968 0 1119.032 45 12.983 12.983 0 0132 32.032m0-2A14.968 14.968 0 1046.968 45 14.968 14.968 0 0032 30.032z"/><path class="cls-4" d="M32 35.125A9.875 9.875 0 0141.875 45M32 39.84A5.16 5.16 0 0137.16 45M31 45v1.542A4.458 4.458 0 0035.458 51H36v7"/><circle class="cls-3" cx="31" cy="44.956" r="2.016"/></g>
					</svg>
				</div>
				<div class="text-lg font-bold text-center text-gray-700">Wildcard Remote MySQL</div>
				<div class="text-center text-gray-700">
					Mendukung s/d 25 max_user_connections dan 100 max_connections
				</div>
			</div>
		</div>
	</section>

	<div class="w-20 h-1 mx-auto bg-gray-200"></div>

	<section class="container mt-12">
		<div class="mb-3">
			<h2 class="text-2xl text-center text-gray-700">Mendukung Penuh Framework Laravel</h2>
		</div>
		<div class="flex flex-col items-center space-x-12 space-y-10 lg:justify-between lg:flex-row">
			<div class="space-y-5">
				<div class="text-gray-700">Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda</div>
				<div>
					<ul class="flex flex-col space-y-2">
						<ul class="inline-flex space-x-1">
							<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span class="text-gray-700">
								Install Laravel
								<strong>1 klik</strong>
								dengan Softaculous Installer.
							</span>
						</ul>
						<ul class="inline-flex space-x-1">
							<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span class="text-gray-700">
								Mendukung ekstensi
								<strong>PHP MCrypt, phar, mbstring, json,</strong>
								dan
								<strong>fileinfo</strong>.
							</span>
						</ul>
						<ul class="inline-flex space-x-1">
							<svg class="w-6 h-6 text-green-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span class="text-gray-700">
								Tersedia
								<strong>Composer</strong>
								dan
								<strong>SSH</strong>
								untuk menginstal packages pilihan Anda.
							</span>
						</ul>
					</ul>
				</div>
				<div class="text-xs text-gray-700">
					Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis
				</div>
				<div class="pb-5">
					<a href="#" class="px-5 py-2 text-lg font-medium text-white transition duration-150 ease-in-out rounded-full focus:outline-none hover:bg-primary-lighter bg-primary">
						Pilih Hosting Anda
					</a>
				</div>
			</div>
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 507 347.196">
					<defs>
						<style>
							.cls-2,
							.cls-6 {
								fill: none
							}
							.cls-2 {
								stroke: #dbf0ff
							}
							.cls-2,
							.cls-3 {
								stroke-miterlimit: 10
							}
							.cls-2 {
								stroke-width: 2px
							}
							.cls-20,
							.cls-3,
							.cls-7 {
								fill: #fff
							}
							.cls-3,
							.cls-6 {
								stroke: #80c9ff;
								stroke-width: 4px
							}
							.cls-4 {
								fill: #def1ff
							}
							.cls-12,
							.cls-16,
							.cls-22,
							.cls-5 {
								fill: #80c9ff
							}
							.cls-6 {
								stroke-linecap: round;
								stroke-linejoin: round
							}
							.cls-8 {
								fill: #288eea
							}
							.cls-10 {
								fill: #298eea
							}
							.cls-12,
							.cls-13 {
								fill-rule: evenodd
							}
							.cls-13 {
								fill: #ededed
							}
							.cls-15 {
								fill: #c9c9c9
							}
							.cls-16 {
								font-size: 14px;
								font-family: Bebas, Bebas
							}
							.cls-17 {
								letter-spacing: 0.018em
							}
							.cls-18 {
								letter-spacing: 0.017em
							}
							.cls-19 {
								letter-spacing: 0.026em
							}
							.cls-20,
							.cls-22 {
								font-size: 20px;
								font-family: GothamCondensed-Medium, Gotham Condensed
							}
							.cls-22 {
								font-size: 20.206px
							}
							.cls-23 {
								letter-spacing: -0.005em
							}
							.cls-24 {
								letter-spacing: 0
							}
						</style>
					</defs>
					<g id="Layer_2" data-name="Layer 2"><path d="M460.711 359.869S561.685 197.575 453.094 88c-61.024-61.578-177.445-35.395-215.738 3.385S72.279 69.257 33.78 144.067C-15.956 240.713 55.4 360 55.4 360z" transform="translate(-1.711 -12.804)" fill="#f7fcff"/><path class="cls-2" d="M24.981 358a244.74 244.74 0 01-9.6-68.1C15.377 154.8 124.9 45.279 260 45.279S504.623 154.8 504.623 289.9a244.753 244.753 0 01-9.52 67.809" transform="translate(-1.711 -12.804)"/><path class="cls-2" d="M70.985 357.577a200.362 200.362 0 01-11.7-67.676C59.289 179.052 149.15 89.19 260 89.19s200.711 89.862 200.711 200.71a200.348 200.348 0 01-11.848 68.1" transform="translate(-1.711 -12.804)"/></g>
					<g id="Layer_1" data-name="Layer 1"><path class="cls-3" d="M104.08 113.2h315.4a16 16 0 0116 16v215.31H88.08V129.2a16 16 0 0116-16z"/><path class="cls-3" d="M103.916 147.859h314.737v196.945H103.916z"/><path class="cls-3" d="M103.916 168.506h314.737v176.298H103.916z"/><path class="cls-4" d="M105.649 170.215h30.946V343.09h-30.946z"/><path class="cls-5" d="M152.477 177.864h50.247v8.565h-50.247zM152.477 292.654h44.417v7.571h-44.417zM199.702 292.654h13.677v7.571h-13.677z"/><path class="cls-4" d="M266.583 292.654h26.346v7.571h-26.346z"/><path class="cls-5" d="M217.208 292.654h45.546v7.571h-45.546zM152.477 304.054h35.199v7.571h-35.199z"/><path class="cls-4" d="M152.477 315.454h12.668v7.571h-12.668zM168.974 315.454h35.706v7.571h-35.706z"/><path class="cls-5" d="M191.433 304.054h36.094v7.571h-36.094zM152.477 190.54h83.168v8.625h-83.168zM241.655 190.54h44.814v8.625h-44.814zM152.477 216.774h83.168v8.625h-83.168zM152.477 229.73h31.477v8.625h-31.477z"/><path class="cls-4" d="M188.342 229.73h14.382v8.625h-14.382z"/><path class="cls-5" d="M152.477 255.53h63.495v8.625h-63.495z"/><path class="cls-4" d="M152.477 242.574h50.247v8.625h-50.247zM205.901 242.574h29.744v8.625h-29.744zM239.399 242.574h29.744v8.625h-29.744zM152.477 268.486h64.799v8.625h-64.799zM221.373 268.486h38.358v8.625h-38.358z"/><path class="cls-6" d="M492 345.196h13M18 345.196h458M2 345.196h9"/></g>
					<g id="Layer_3" data-name="Layer 3"><path class="cls-4" d="M198.195 83.412l-1.86-8.217h-58.996V135.526h85.123V83.412h-24.267z"/><path class="cls-7" d="M203.46 78.356l-1.861-8.218h-58.996V130.47h85.123V78.356H203.46z"/><path class="cls-8" d="M230.28 144.116h-86.809V82.1h60.512l1.861 8.217h24.436zm-85.124-1.686h83.438V92H204.5l-1.86-8.218h-57.484z" transform="translate(-1.711 -12.804)"/><path class="cls-7" d="M227.726 92.472h-85.123"/><path class="cls-8" d="M229.437 106.119h-85.123a.843.843 0 110-1.686h85.123a.843.843 0 010 1.686z" transform="translate(-1.711 -12.804)"/><path class="cls-7" d="M163.814 89.312h21.351v6.462h-21.351z"/><path class="cls-8" d="M187.718 109.421h-23.035v-8.148h23.035zm-21.35-1.686h19.664v-4.776h-19.664z" transform="translate(-1.711 -12.804)"/><circle cx="274.136" cy="32.474" r="7.328" stroke="#298eea" fill="#d4e8fb" stroke-linecap="round" stroke-width="4" stroke-miterlimit="10"/><circle class="cls-4" cx="101.501" cy="27.863" r="4.612"/><circle class="cls-10" cx="44.89" cy="113.199" r="2.895"/><circle class="cls-4" cx="302.295" cy="16.196" r="2.895"/><path d="M460.713 139.856a12.589 12.589 0 1012.587 12.589 12.6 12.6 0 00-12.587-12.589zm0 20.209a7.62 7.62 0 117.619-7.62 7.629 7.629 0 01-7.619 7.62z" transform="translate(-1.711 -12.804)" fill="#ddd"/><path class="cls-8" d="M468.29 153.249a7.618 7.618 0 11-7.573-8.423v-4.976a12.6 12.6 0 1012.55 13.4z" transform="translate(-1.711 -12.804)"/><path class="cls-12" d="M483.056 43.369a.894.894 0 01-.894.894.894.894 0 01-.895-.894v-4.344a.894.894 0 01.895-.894.894.894 0 01.894.894zM483.056 51.845a.894.894 0 01-.894.894.894.894 0 01-.895-.894V47.5a.894.894 0 01.895-.894.894.894 0 01.894.894zM484.226 46.18a.894.894 0 01-.894-.894.894.894 0 01.894-.894h4.344a.894.894 0 01.894.894.894.894 0 01-.894.894zM475.751 46.18a.894.894 0 01-.894-.894.894.894 0 01.894-.894h4.344a.894.894 0 01.894.894.894.894 0 01-.894.894zM129.614 47.656a.86.86 0 01-.86.86.86.86 0 01-.861-.86v-4.179a.86.86 0 01.861-.86.86.86 0 01.86.86zM129.614 55.81a.86.86 0 01-.86.86.86.86 0 01-.861-.86v-4.179a.86.86 0 01.861-.86.86.86 0 01.86.86zM130.741 50.36a.86.86 0 01-.86-.86.86.86 0 01.86-.86h4.179a.86.86 0 01.86.86.86.86 0 01-.86.86zM122.587 50.36a.86.86 0 01-.86-.86.86.86 0 01.86-.86h4.179a.86.86 0 01.86.86.86.86 0 01-.86.86z" transform="translate(-1.711 -12.804)"/><path class="cls-13" d="M26.445 17.844a.86.86 0 01-.86.86.86.86 0 01-.86-.86v-4.179a.86.86 0 01.86-.86.86.86 0 01.86.86zM26.445 26a.86.86 0 01-.86.86.86.86 0 01-.86-.86v-4.182a.86.86 0 01.86-.86.86.86 0 01.86.86zM27.571 20.548a.86.86 0 01-.86-.86.86.86 0 01.86-.86h4.179a.86.86 0 01.86.86.86.86 0 01-.86.86zM19.417 20.548a.86.86 0 01-.86-.86.86.86 0 01.86-.86H23.6a.86.86 0 01.86.86.86.86 0 01-.86.86zM49.446 205.67a.86.86 0 01-.86.86.86.86 0 01-.86-.86v-4.179a.86.86 0 01.86-.86.86.86 0 01.86.86zM49.446 213.823a.86.86 0 01-.86.86.86.86 0 01-.86-.86v-4.179a.86.86 0 01.86-.86.86.86 0 01.86.86zM50.573 208.374a.86.86 0 01-.86-.86.86.86 0 01.86-.86h4.179a.86.86 0 01.86.86.86.86 0 01-.86.86zM42.419 208.374a.86.86 0 01-.86-.86.86.86 0 01.86-.86H46.6a.86.86 0 01.86.86.86.86 0 01-.86.86z" transform="translate(-1.711 -12.804)"/><rect class="cls-7" x="339.202" y="32.63" width="71.79" height="53.947" rx=".814" ry=".814"/><path class="cls-10" d="M411.7 46.435v51.947h-69.79V46.435h69.79m.186-2h-70.159a1.82 1.82 0 00-1.815 1.815v52.317a1.82 1.82 0 001.815 1.814h70.161a1.82 1.82 0 001.814-1.814V46.249a1.82 1.82 0 00-1.814-1.815z" transform="translate(-1.711 -12.804)"/><path stroke="#298eea" stroke-miterlimit="10" fill="none" d="M340 44.696h71"/><circle class="cls-15" cx="404.515" cy="38.964" r="2.041"/><circle class="cls-15" cx="396.349" cy="38.964" r="2.041"/><circle class="cls-15" cx="388.184" cy="38.964" r="2.041"/><path class="cls-10" d="M366.122 87.208a.908.908 0 01-.719-.354l-7.442-9.67 7.853-10.2a.907.907 0 111.439 1.106l-7 9.1 6.592 8.564a.907.907 0 01-.719 1.46zM386.5 87.208a.908.908 0 00.719-.354l7.442-9.67-7.853-10.2a.907.907 0 00-1.439 1.106l7 9.1-6.592 8.564a.907.907 0 00.719 1.46zM371.56 88.663a.893.893 0 01-.367-.078.905.905 0 01-.462-1.2l9.679-21.848a.907.907 0 011.659.734l-9.679 21.851a.909.909 0 01-.83.541z" transform="translate(-1.711 -12.804)"/><path class="cls-7" d="M98.791 199.594a23.632 23.632 0 1123.632-23.631 23.658 23.658 0 01-23.632 23.631z" transform="translate(-1.711 -12.804)"/><path class="cls-10" d="M98.791 153.331a22.632 22.632 0 11-22.632 22.632 22.657 22.657 0 0122.632-22.632m0-2a24.632 24.632 0 1024.632 24.632 24.632 24.632 0 00-24.632-24.632z" transform="translate(-1.711 -12.804)"/><circle class="cls-2" cx="97.08" cy="163.158" r="29.962"/><text class="cls-16" transform="translate(82.673 168.729)">
							<tspan class="cls-17">j</tspan>
							<tspan class="cls-18" x="5.688" y="0">s</tspan>
							<tspan class="cls-19" x="13.433" y="0">o</tspan>
							<tspan x="21.039" y="0">n</tspan>
						</text>
						<text class="cls-16" transform="translate(82.673 168.729)">
							<tspan class="cls-17">j</tspan>
							<tspan class="cls-18" x="5.688" y="0">s</tspan>
							<tspan class="cls-19" x="13.433" y="0">o</tspan>
							<tspan x="21.039" y="0">n</tspan>
						</text><circle class="cls-10" cx="444.615" cy="194.853" r="24.632"/><path class="cls-10" d="M446.326 178.695a28.962 28.962 0 11-28.962 28.962 29 29 0 0128.962-28.962m0-1a29.962 29.962 0 1029.962 29.962 29.962 29.962 0 00-29.962-29.962z" transform="translate(-1.711 -12.804)"/><text class="cls-20" transform="translate(431.333 200.298)">phar</text>
						<text class="cls-20" transform="translate(431.333 200.298)">phar</text><path class="cls-7" d="M68.828 102.757a34.551 34.551 0 1134.551-34.551 34.59 34.59 0 01-34.551 34.551z" transform="translate(-1.711 -12.804)"/><path class="cls-10" d="M68.829 34.656a33.551 33.551 0 11-33.551 33.55 33.589 33.589 0 0133.551-33.55m0-2a35.551 35.551 0 1035.551 35.551 35.551 35.551 0 00-35.551-35.551z" transform="translate(-1.711 -12.804)"/><circle cx="67.118" cy="55.402" r="43.245" stroke-miterlimit="10" stroke="#dbf0ff" fill="none"/><text class="cls-22" transform="translate(38.837 61.11)">mb<tspan class="cls-23" x="19.438" y="0">s</tspan>
							<tspan class="cls-24" x="25.035" y="0">tring</tspan>
						</text>
						<text class="cls-22" transform="translate(38.837 61.11)">mb<tspan class="cls-23" x="19.438" y="0">s</tspan>
							<tspan class="cls-24" x="25.035" y="0">tring</tspan>
						</text><path stroke="#298eea" stroke-linecap="round" fill="#fff" stroke-width="2" stroke-miterlimit="10" d="M89.883 209.832H51.315v57.045h46.358v-48.455l-7.79-8.59z"/><path class="cls-4" d="M56.582 217.029h19.5v2.667h-19.5zM56.582 226.576h19.5v2.667h-19.5zM56.582 236.122h30.146v2.667H56.582zM56.582 245.669h30.146v2.667H56.582z"/><path class="cls-10" d="M343.021 290.492c-.93.24-1.792.462-2.654.686q-7.5 1.95-14.991 3.9c-3.344.864-6.694 1.708-10.042 2.562a9.9 9.9 0 01-1.935.317 5.029 5.029 0 01-4.833-2.491 9.067 9.067 0 01-.529-1.016q-5.875-12.69-11.744-25.383-6.893-14.93-13.774-29.867c-.686-1.488-1.351-2.986-2.023-4.481a8.2 8.2 0 01-.673-2.185 2.779 2.779 0 01.033-1.03 1.607 1.607 0 01.913-1.157 3.3 3.3 0 01.826-.27c.411-.072.832-.092 1.248-.13q1.033-.095 2.066-.184c.49-.043.979-.087 1.469-.124.635-.048 1.272-.085 1.907-.136.653-.053 1.3-.12 1.957-.179.471-.042.943-.083 1.415-.119.635-.048 1.272-.086 1.907-.136.671-.053 1.342-.117 2.013-.176.49-.043.979-.087 1.469-.124.635-.048 1.272-.086 1.907-.136.708-.056 1.414-.121 2.122-.18.544-.046 1.088-.092 1.633-.131.69-.049 1.381-.085 2.071-.137s1.377-.144 2.068-.172c1.019-.042 2.033-.191 3.055-.14.308.015.615.053.921.094a2.372 2.372 0 011.643.981c.4.541.794 1.092 1.141 1.668q2.721 4.517 5.416 9.049l17.2 28.744 9 15.055c.139.233.287.461.411.66.062.021.079.028.1.032a.121.121 0 00.053.01q20.13-4.815 40.258-9.632a.293.293 0 00.093-.054.272.272 0 00.041-.055c.03-.176-.11-.288-.2-.416q-1.129-1.612-2.265-3.218l-10.692-15.131a3.434 3.434 0 01-.556-1 .963.963 0 01.292-1.04 2.055 2.055 0 01.909-.482c.474-.127.953-.238 1.436-.322a483.04 483.04 0 014.463-.754c1.417-.235 2.836-.459 4.253-.7 1.2-.2 2.4-.417 3.6-.616 1.22-.2 2.442-.391 3.662-.589.987-.16 1.974-.321 2.96-.488a2.574 2.574 0 011.838.338 5.99 5.99 0 011.031.8 15.071 15.071 0 011.166 1.3q5.255 6.507 10.5 13.022c1.5 1.858 3.01 3.706 4.511 5.561a2.825 2.825 0 01.356.546.791.791 0 01-.276 1.1 3.178 3.178 0 01-.828.4c-.536.173-1.084.306-1.629.451l-16.39 4.372c-.138.037-.271.094-.412.145a.968.968 0 00.29.531c.869 1.17 1.746 2.334 2.615 3.5q6.44 8.664 12.876 17.33c.271.366.543.732.786 1.117a4.389 4.389 0 01.373.785.938.938 0 01-.292 1.089 2.958 2.958 0 01-.674.457 15.47 15.47 0 01-1.45.632c-4.185 1.531-8.368 3.069-12.563 4.572q-14 5.016-28.008 10a43.924 43.924 0 01-4.471 1.415 10.268 10.268 0 01-1.448.261 3.108 3.108 0 01-1.79-.381 4.292 4.292 0 01-.956-.722 8.972 8.972 0 01-1.383-1.757c-.776-1.276-1.561-2.547-2.3-3.845q-3.834-6.745-7.634-13.509c-1.535-2.731-3.042-5.477-4.562-8.216-.083-.134-.182-.284-.296-.471zm-3.01-5.407a1.771 1.771 0 00-.085-.3 5.944 5.944 0 00-.295-.584q-4.638-8.015-9.281-16.028l-11.91-20.566q-4.5-7.777-9-15.558a.87.87 0 00-.925-.509c-.58.055-1.161.092-1.742.14-.453.038-.906.08-1.36.122-.616.057-1.232.118-1.848.171-.6.052-1.2.093-1.8.143-.453.038-.906.083-1.359.125-.6.056-1.2.116-1.793.168s-1.2.094-1.8.143q-.653.054-1.305.115c-.58.056-1.158.122-1.738.173-.6.052-1.2.088-1.8.137-.508.042-1.015.092-1.523.139-.616.057-1.232.118-1.848.169s-1.234.092-1.851.142a3.669 3.669 0 00-.432.066c-.215.044-.33.158-.313.375a2.269 2.269 0 00.141.633c.111.288.259.561.394.84l18.174 37.444q4.325 8.921 8.622 17.855c.111.229.208.465.317.7a.538.538 0 00.65.364 1.96 1.96 0 00.214-.045c.833-.19 1.667-.375 2.5-.572q5.625-1.333 11.248-2.673 5.438-1.295 10.874-2.595a3.238 3.238 0 00.522-.155.546.546 0 00.352-.58zm8.58 3.991a1.305 1.305 0 00.23.519q5.189 8.924 10.381 17.847 1.045 1.794 2.126 3.566a7.548 7.548 0 00.817 1.089 1.292 1.292 0 001.58.365c.469-.195.955-.351 1.437-.515l34.45-11.693q1.6-.543 3.2-1.092a4.16 4.16 0 00.6-.25.556.556 0 00.269-.894 3.154 3.154 0 00-.173-.278c-.134-.2-.268-.39-.408-.581l-6.217-8.517q-3.471-4.772-6.93-9.552a2.7 2.7 0 00-.242-.3.808.808 0 00-.838-.263c-.315.086-.63.174-.946.256l-5.38 1.408q-7.044 1.832-14.09 3.661-6.385 1.662-12.768 3.329-3.377.88-6.754 1.756a3.157 3.157 0 00-.344.138zm41.95-15.615c.121-.018.193-.023.262-.04 1.64-.406 3.279-.817 4.919-1.22q4.578-1.126 9.158-2.247c.494-.121.99-.236 1.479-.375a2.635 2.635 0 00.648-.277.427.427 0 00.144-.692c-.09-.136-.2-.261-.3-.39q-4.848-6.161-9.7-12.321c-.518-.658-1.029-1.322-1.541-1.985a1.5 1.5 0 00-1.587-.6c-1.392.267-2.786.523-4.179.78-1.912.353-3.823.708-5.737 1.051-1.556.279-3.115.541-4.673.81-.2.034-.4.061-.59.1-.514.111-.638.37-.384.823a5.593 5.593 0 00.365.544L390.19 273c.11.15.22.291.351.46z" transform="translate(-1.711 -12.804)"/></g>
				</svg>
			</div>
		</div>
	</section>

	<hr class="mb-12">

	<section class="container my-12">
		<div class="mb-5">
			<h2 class="text-2xl text-center text-gray-700">Modul Lengkap Untuk Menjalankan Aplikasi PHP Anda</h2>
		</div>
		<div class="flex justify-center mb-5">
			<div class="grid grid-cols-2 text-gray-700 lg:grid-cols-4 gap-x-24">
				<ul>
					<li>IcePHP</li>
					<li>apc</li>
					<li>apcu</li>
					<li>apm</li>
					<li>ares</li>
					<li>bcmath</li>
					<li>bcompiler</li>
					<li>big_int</li>
					<li>bitset</li>
					<li>bloomy</li>
					<li>bz2_filter</li>
					<li>clamav</li>
					<li>coin_acceptor</li>
					<li>crack</li>
					<li>dba</li>
				</ul>
				<ul>
					<li>http</li>
					<li>huffman</li>
					<li>idn</li>
					<li>igbinary</li>
					<li>imagick</li>
					<li>imap</li>
					<li>inclued</li>
					<li>inotify</li>
					<li>interbase</li>
					<li>intl</li>
					<li>ioncube_loader</li>
					<li>ioncube_loader_4</li>
					<li>jsmin</li>
					<li>json</li>
					<li>ldap</li>
				</ul>
				<ul>
					<li>nd_pdo_mysql</li>
					<li>oauth</li>
					<li>oci8</li>
					<li>odbc</li>
					<li>opcache</li>
					<li>pdf</li>
					<li>pdo</li>
					<li>pdo_dblib</li>
					<li>pdo_firebird</li>
					<li>pdo_mysql</li>
					<li>pdo_odbc</li>
					<li>pdo_pgsql</li>
					<li>pdo_sqlite</li>
					<li>pgsql</li>
					<li>phalcon</li>
				</ul>
				<ul>
					<li>stats</li>
					<li>stem</li>
					<li>stomp</li>
					<li>suhosion</li>
					<li>sybase_ct</li>
					<li>sysvmsg</li>
					<li>sysvsem</li>
					<li>sysvshm</li>
					<li>tidy</li>
					<li>timezonedb</li>
					<li>trader</li>
					<li>translit</li>
					<li>uploadprogress</li>
					<li>uri_template</li>
					<li>uuid</li>
				</ul>
			</div>
		</div>
		<div class="flex items-center justify-center">
			<button type="button" class="px-5 py-2 text-base font-semibold text-gray-900 transition duration-150 ease-in-out border border-gray-900 rounded-full focus:outline-none hover:bg-gray-50">Selengkapnya</button>
		</div>
	</section>

	<section class="container">
		<div class="flex flex-col space-x-0 space-y-5 lg:space-x-12 lg:justify-between lg:flex-row">
			<div class="w-full lg:w-1/2">
				<h4 class="mb-5 text-xl text-gray-700">Linux Hosting yang Stabil dengan Teknologi LIVE</h4>
				<p class="mb-5 text-gray-700">
					SuperMicro
					<strong>Intel Xeon 24-Cores</strong>
					server dengan RAM
					<strong>128 GB</strong>
					dan teknologi
					<strong>LIVE CloudLinux</strong>
					untuk stabilitas server Anda. Dilengkapi dengan
					<strong>SSD</strong>
					untuk kecepatan
					<strong>MySQL</strong>
					dan caching. Apache load balancer berbasis LiteSpeed Technologies,
					<strong>CageFS</strong>
					security.
					<strong>Raid-10</strong>
					protection dan auto backup untuk keamanan website PHP Anda.
				</p>
				<div class="pb-5">
					<a href="#" class="px-5 py-2 text-lg font-medium text-white transition duration-150 ease-in-out rounded-full focus:outline-none hover:bg-primary-lighter bg-primary">
						Pilih Hosting Anda
					</a>
				</div>
			</div>
			<div class="w-full lg:w-1/2">
				<img src="{{ asset('build/images/Image support.png') }}" alt="LIVE Support">
			</div>
		</div>
	</section>

	<section class="bg-gray-100">
		<div class="container">
			<div class="flex flex-col items-center justify-between py-10 space-y-3 lg:flex-row lg:space-y-0">
				<div class="text-base text-gray-900">Bagikan jika Anda menyukai halaman ini.</div>
				<div class="flex space-x-3">
					<a href="#" class="flex items-center space-x-1">
						<svg class="w-6 h-6 text-blue-800 fill-current" aria-hidden="true" data-prefix="fab" data-icon="facebook-square" class="svg-inline--fa fa-facebook-square fa-w-14" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path fill="currentColor" d="M400 32H48A48 48 0 000 80v352a48 48 0 0048 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0048-48V80a48 48 0 00-48-48z"/></svg>
						<span class="px-2 py-1 text-xs text-gray-300 border border-gray-200 rounded-sm">80k</span>
					</a>
					<a href="#" class="flex items-center space-x-1">
						<svg class="w-6 h-6 text-blue-500 fill-current" aria-hidden="true" data-prefix="fab" data-icon="twitter-square" class="svg-inline--fa fa-twitter-square fa-w-14" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 01-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"/></svg>
						<span class="px-2 py-1 text-xs text-gray-300 border border-gray-200 rounded-sm">450</span>
					</a>

					<a href="#" class="flex items-center space-x-1">
						<svg class="w-6 h-6 text-yellow-600 fill-current" aria-hidden="true" data-prefix="fab" data-icon="google-plus-square" class="svg-inline--fa fa-google-plus-square fa-w-14" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM164 356c-55.3 0-100-44.7-100-100s44.7-100 100-100c27 0 49.5 9.8 67 26.2l-27.1 26.1c-7.4-7.1-20.3-15.4-39.8-15.4-34.1 0-61.9 28.2-61.9 63.2 0 34.9 27.8 63.2 61.9 63.2 39.6 0 54.4-28.5 56.8-43.1H164v-34.4h94.4c1 5 1.6 10.1 1.6 16.6 0 57.1-38.3 97.6-96 97.6zm220-81.8h-29v29h-29.2v-29h-29V245h29v-29H355v29h29v29.2z"/></svg>
						<span class="px-2 py-1 text-xs text-gray-300 border border-gray-200 rounded-sm">450</span>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="text-white bg-primary-lighter">
		<div class="container">
			<div class="flex flex-col items-center justify-between py-10 space-y-5 lg:space-y-0 lg:flex-row">
				<div class="text-2xl text-center lg:text-left">Perlu
					<strong>BANTUAN?</strong>
					Hubungi Kami :
					<strong>0274-5305505</strong>
				</div>
				<a href="#" class="flex px-4 py-1 border border-white rounded-full">
					<span class="mr-2">
						<svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z"></path>
							<path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z"></path>
						</svg>
					</span>
					<span>Live Chat</span>
				</a>
			</div>
		</div>
	</section>

	<footer class="bg-gray-800">
		<div class="container py-12">
			<div class="grid grid-cols-1 lg:grid-cols-4 gap-x-6 gap-y-12">
				<div>
					<div class="mb-4 text-gray-500">HUBUNGI KAMI</div>
					<div class="text-gray-400">
						<div>0274-5305505</div>
						<div>Senin - Minggu</div>
						<div>24 Jam Nonstop</div>

						<div class="mt-4">Jl. Selokan Mataram Monjali</div>
						<div>Karangjati MT I/304</div>
						<div>Sinduadi, Mlati, Sleman</div>
						<div>Yogyakarta 55284</div>
					</div>
				</div>

				<div>
					<div class="mb-4 text-gray-500">LAYANAN</div>
					<div class="flex flex-col text-gray-400">
						<a href="#">Domain</a>
						<a href="#">Shared Hosting</a>
						<a href="#">Cloud VPS Hosting</a>
						<a href="#">Managed VPS Hosting</a>
						<a href="#">Web Builder</a>
						<a href="#">Keamanan SSL / HTTPS</a>
						<a href="#">Jasa Pembuatan Website</a>
						<a href="#">Program Afiliasi</a>
					</div>
				</div>

				<div>
					<div class="mb-4 text-gray-500">SERVICE HOSTING</div>
					<div class="flex flex-col text-gray-400">
						<a href="#">Hosting Murah</a>
						<a href="#">Hosting Indonesia</a>
						<a href="#">Hosting Singapura SG</a>
						<a href="#">Hosting PHP</a>
						<a href="#">Hosting Wordpress</a>
						<a href="#">Hosting Laravel</a>
					</div>
				</div>

				<div>
					<div class="mb-4 text-gray-500">TUTORIAL</div>
					<div class="flex flex-col text-gray-400">
						<a href="#">Knowledgebase</a>
						<a href="#">Blog</a>
						<a href="#">Cara Pembayaran</a>
					</div>
				</div>

				<div>
					<div class="mb-4 text-gray-500">TENTANG KAMI</div>
					<div class="flex flex-col text-gray-400">
						<a href="#">Tim Niagahoster</a>
						<a href="#">Karir</a>
						<a href="#">Events</a>
						<a href="#">Penawaran & Promosi Spesial</a>
						<a href="#">Kontak Kami</a>
					</div>
				</div>

				<div>
					<div class="mb-4 text-gray-500">KENAPA PILIH NIAGAHOSTER?</div>
					<div class="flex flex-col text-gray-400">
						<a href="#">Support Terbaik</a>
						<a href="#">Garansi Harga Termurah</a>
						<a href="#">Domain Gratis Selamanya</a>
						<a href="#">Datacenter Hosting Terbaik</a>
						<a href="#">Review Pelanggan</a>
					</div>
				</div>

				<div>
					<div class="mb-4 text-gray-500">NEWSLETTER</div>
					<div class="flex items-center bg-white rounded-full">
						<input class="w-full px-6 py-4 leading-tight text-gray-700 rounded-l-full focus:outline-none" id="search" type="text" placeholder="Email">
						<div class="px-4 py-2">
							<button class="flex items-center justify-center w-full h-6 p-2 text-xs text-white transition duration-150 ease-in-out rounded-full bg-primary-lighter hover:bg-primary focus:outline-none">
								Berlangganan
							</button>
						</div>
					</div>
				</div>
				<div class="flex pt-10 space-x-5">
					<a href="#" class="w-12 h-12 p-3 border border-white rounded-full">
						<svg class="w-6 h-6 text-white fill-current" aria-hidden="true" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-10" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512"><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>
					</a>
					<a href="#" class="w-12 h-12 p-3 border border-white rounded-full">
						<svg class="w-6 h-6 text-white fill-current" aria-hidden="true" data-prefix="fab" data-icon="twitter" class="svg-inline--fa fa-twitter fa-w-16" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>
					</a>
					<a href="#" class="w-12 h-12 p-3 border border-white rounded-full">
						<svg class="w-6 h-6 text-white fill-current" aria-hidden="true" data-prefix="fab" data-icon="google-plus-g" class="svg-inline--fa fa-google-plus-g fa-w-20" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512"><path fill="currentColor" d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z"/></svg>
					</a>
				</div>
				<div class="lg:col-span-4">
					<div class="mb-4 text-gray-500">PEMBAYARAN</div>
					<div class="flex flex-col items-start mb-3 space-y-5 lg:flex-row lg:items-center lg:space-x-5">
						<img src="{{ asset('build/svg/bca.svg')}}" class="h-8 filter grayscale hover:grayscale-0 focus:grayscale-0" alt="bca">
						<img src="{{ asset('build/svg/mandiri.svg') }}" class="h-8 filter grayscale hover:grayscale-0 focus:grayscale-0" alt="mandiri">
						<img src="{{ asset('build/svg/bni.svg') }}" class="h-8 filter grayscale hover:grayscale-0 focus:grayscale-0" alt="bni">
						<img src="{{ asset('build/svg/visa.svg') }}" class="h-8 filter grayscale hover:grayscale-0 focus:grayscale-0" alt="visa">
						<img src="{{ asset('build/svg/master.svg') }}" class="h-8 filter grayscale hover:grayscale-0 focus:grayscale-0" alt="mastercard">
						<img src="{{ asset('build/svg/atm-bersama.svg') }}" class="h-8 filter grayscale hover:grayscale-0 focus:grayscale-0" alt="atm bersama">
						<img src="{{ asset('build/svg/alto.svg') }}" class="h-8 filter grayscale hover:grayscale-0 focus:grayscale-0" alt="alto">
					</div>
					<div class="text-sm text-gray-600">Aktifasi instan dengan e-Payment, Hosting dan domain langsung aktif!</div>
				</div>
			</div>

			<div class="w-full h-1 my-8 bg-gray-900 opacity-10"></div>

			<div class="flex flex-col justify-between space-x-0 space-y-5 text-sm text-gray-500 lg:space-x-10 lg:items-center lg:flex-row">
				<div>
					<div class="">
						Copyright &copy; 2021 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta
					</div>
					<div class="">
						Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology
					</div>
				</div>
				<div>
					<a href="#">Syarat dan Ketentuan</a>
					<span class="mx-2">|</span>
					<a href="#">Kebijakan Privasi</a>
				</div>
			</div>
		</div>

	</footer>
{% endblock %}
